@use '../../colors.scss' as c;
@use '../../functions.scss' as f;

.nav {
  text-transform: capitalize;
  margin-bottom: 1rem;

  &__links {
    display: flex;
    gap: 1rem;
    margin-right: auto;

    a {
      position: relative;

      &::after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -5px;
        left: 0px;
        background-color: c.$orange;
        display: inline-block;
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .btn {
    margin-right: 3rem;
  }
}
