@use '../../colors.scss' as c;
@use '../../functions.scss' as f;

.item {
  padding: 1rem;
  flex: 1 0 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background-color: c.$grey;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  .brand {
    font-size: f.rem(16);
    text-transform: capitalize;
  }

  .btn {
    text-transform: capitalize;
    transition: 0.3s;

    &:hover {
      background-color: darken($color: c.$orange, $amount: 10%);
    }
  }

  .msg {
    display: none;
    position: absolute;
    bottom: 100px;
    background-color: lighten($color: c.$green, $amount: 50%);
    color: rgb(34, 78, 34);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

    &.active {
      display: block;
    }
  }

  .discount {
    align-self: start;
    left: 10px;
    top: 10px;
    background-color: c.$green;
    padding: 5px 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: c.$white;
  }
}
