@use '../colors.scss' as c;
@use '../functions.scss' as f;

.shop {
  margin: 1rem 20px;

  h1 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;
    justify-content: center;
  }
}
