@use '../../colors.scss' as c;
@use '../../functions.scss' as f;

.header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  .logo {
    color: c.$orange;
    text-transform: capitalize;
    font-weight: 700;
  }

  input {
    flex: 1;
    margin-inline: 3rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border: none;
    background-color: c.$grey;
    background-image: url(../../images/Search.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px;
    outline: none;
  }

  .icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    img {
      width: 25px;
      filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(242deg)
        brightness(113%) contrast(99%);
    }

    .cart-icon {
      position: relative;

      .total {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: c.$white;
        height: 23px;
        width: 23px;
        color: c.$orange;
        border-radius: 50%;
        top: -5px;
        right: -5px;
        border: 2px solid c.$orange;
      }
    }
  }

  hr {
    border: 1px solid c.$orange;
  }
}
