@use './colors.scss' as c;
@use './functions.scss' as f;

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #222;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: c.$orange;
  color: c.$white;
  cursor: pointer;
  border: none;
}
