@use './colors.scss' as c;
@use './functions.scss' as f;

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
