@use '../../colors.scss' as c;
@use '../../functions.scss' as f;

.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 2rem;
  padding: 0 20px;
  @media screen and (max-width: 768px) {
    gap: 1rem;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 1rem;

    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
  }
}
